body{
    background-color: rgb(216, 216, 216);
     font-family: "Open Sans", sans-serif;
}

.ProfileCard{
    height: 800px;
    width: 450px;
    background-color: #fff;
    margin: 150px;
    border-radius: 65px;  
   
    
}


.profile-image img{
    margin-top: 20px;
    width: 415px;
    margin-left: 17px;
   
}

.name{
    font-size: 29px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 25px;
    margin-left: 60px;

}
.verified img{
    width: 30px;
    

}